


.att_bio_wrapper {
	max-width:1415px;
	margin:0px auto;
	width:100%;
}








.att_bio_inner {
	margin:140px 0 0;
	display: flex;
}

.att_sidebar {
	flex-basis:450px;
	flex-shrink:0;
	img {
		max-width:100%;
		height:auto;
		display: block;
	}
	ul {
		list-style: none;
		margin:57px 0 0 35px;
		li.pa_title {
			color:$gold;
			text-transform: uppercase;
			font-size:14px;
			letter-spacing: 0.3em;
			font-weight: 800;
		}
		li {
			font-family: $poppins;
			font-weight:400;
			font-size:18px;
			line-height: 22px;
			margin-bottom:16px;
			a {
				color:$bluedark;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$blue;
				}
			}
		}
	}
}


.att_content {
	flex-grow:1;
	padding:0 0 0 65px;
}



.blockquote_wrapper {
	margin-bottom:65px;
	blockquote {
		padding-bottom:15px;
		padding-top:58px;
	}
	.blockquote_meta {
		text-align: center;
		span {
			text-transform: uppercase;
			font-size:13px;
			letter-spacing: 0.3em;
			font-family: $poppins;
			font-weight: 800;
			&:last-of-type {
				&:after {
					display: none;
				}
			}
			&:after {
				content:"|";
				margin:0 5px 0 8px;
			}
		}
	}
}

.verdict_wrapper {
	.verdict_inner {
		h2 {
			margin:0;
		}
		h3 {
			text-transform: uppercase;
			color:$gold;
			font-family: $poppins;
			font-size:14px;
			letter-spacing: 0.3em;
			font-weight: 800;
			padding-bottom:0;
		}
		ul {
			margin-bottom:28px;
			li {
			
			}
		}
	}
}

.att_awards_wrapper {
	margin:123px 0 0;
}

.att_awards_title_wrapper {
	display: flex;
	align-items: center;
	margin-bottom:103px;
	span {
		display: block;
	}
	span.line {
		width:100%;
		height:1px;
		background:#878594;
		display: block;
		flex-grow:1;
	}
	span.att_title {
		flex-shrink: 0;
		text-transform: uppercase;
		color:$gold;
		font-family: $poppins;
		font-weight: 800;
		font-size:14px;
		letter-spacing: 0.3em;
		padding:0 33px;
	}
}


.att_awards_slideshow_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.att_awards_button {
	flex-basis:29px;
	height:49px;
	flex-shrink:0;
	position: relative;
	cursor: pointer;
	&:hover {
		&:before, &:after {
			background:$gold;
		}
	}
	&:before, &:after {
		content:"";
		display: block;
		width:34px;
		height:3px;
		background:$bluedark;
		position: absolute;
		top:24px;
		left:3px;
		transform-origin: 0px 0px 0px;
		transition: all 200ms ease-in-out;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}
}

.att_awards_button_right {
	transform: rotate(-180deg);
}

.logo_slideshow {
	width:calc(100% - 66px);
	max-width:1130px;
	height:180px;
}

.att_single_slide {
	img {
		display: block;
		margin:0 auto;
		max-width:100%;
		height:auto;
	}
}


img.att_profile_mobile {
	display: none;
}


@media screen and (max-width: 1066px) {
	
	
	.att_bio_wrapper {
		
	}
	
	
	
	
	.att_bio_inner {
		margin: 23px 0 0;
		flex-direction:column;
	}
	
	.att_sidebar {
		flex-basis:auto;
		order:2;
		img {
			display: none;
		}
		ul {
			margin-top: 9px;
			margin-left:0;
			li.pa_list {
				padding-left: 18px;
				margin-bottom: 15px;
				position: relative;
				&:before {
					content: "";
					width: 6px;
					height: 6px;
					background: #1372f3;
					border-radius: 50%;
					display: block;
					position: absolute;
					top: 8px;
					left: 0;
				}
				a {
					
				}
			}
		}
	}
	
	.att_content {
		flex-basis:auto;
		order:1;
		padding:0;
		margin-top:40px;
	}
	
	
	img.att_profile_mobile {
		display: block;
		margin:0px auto 55px;
		max-width:100%;
		height:auto;
	}
	
	
	.blockquote_wrapper {
		margin-bottom: 45px;
		blockquote {
			padding-top: 7px;
		}
	}
	
	
	.att_awards_wrapper {
    margin: 86px 0 0;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	
	.att_bio_wrapper {
		
	}
	    
	
	.att_awards_title_wrapper {
		margin-bottom: 72px;
		span.att_title {
			padding: 0 11px;
		}
		span.line {
			background: transparent;
		}
	}
	
	
	   .att_awards_wrapper {
			 	margin: 66px 0 0;
			}
	
	
	.att_awards_slideshow_wrapper {
		max-width:345px;
		margin-left:auto;
		margin-right:auto;
	}
	
	
	.att_content {
		margin-top: 24px;
	}
	
	img.att_profile_mobile {
		margin: 0px auto 36px;
  }
	
} /* Media Query */