.internal_banner {
	width:100%;
	height:578px;
	position: relative;
	img {
		display: block;
		width:100%;
		height:100%;
		object-fit:cover;
		position: absolute;
		top:0;
		left:0;
	}
}



.internal_banner_content {
	position: relative;
	z-index:1;
	text-align: center;
	padding: 90px 0 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	span.large_header {
		display: block;
		color:#fff;
		font-family: $prata;
		font-size:90px;
		line-height: 100px;
		max-width:835px;
		margin-left:auto;
		margin-right:auto;
	}
	a {
		margin: 32px auto 0;
    max-width: 472px;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
	}
}





.container {
	padding-left:89px;
	padding-right:89px;
	min-height:300px;
	width:100%;
}


.two_col {
	max-width:1850px;
	display: flex;
	margin:143px auto 90px;
}

.one_col {
	margin:150px 0 175px;
}


.no_banner_col {
	margin:90px auto 125px;
	padding-top:155px;
}


.sidebar_wrapper {
	flex-basis: 475px;
	flex-shrink:0;
	.sidebar {
		padding:20px;
		background: $bluedark;
	}
	.sidebar_border {
		width:100%;
		height:100%;
		background: $bluedark;
		padding: 60px 41px 113px 55px;
	}
	.sidebar_inner {
		background: $goldgreadient;
		padding:1px;
		height: 100%;
		ul {
			list-style: none;
			li {
				color:#fff;
				font-family: $poppins;
				line-height: 16px;
				a {
					color:#fff;
					text-decoration: none;
					transition: all 200ms ease-in-out;
					&:hover {
						color:$goldlight;
					}
				}
			}
		}
		ul.menu {
			> li.current-menu-ancestor {
				> a {
					color:$goldlight;
				}
				ul.sub-menu {
					display: block;
				}
			}
			>li.menu-item-has-children {
				> a {
						position: relative;
						display: block;
						cursor: pointer;
						padding-right:15px;
						&:after {
							content:"+";
							color:$goldlight;
							position: absolute;
							top:2px;
							right:0;
						}
				}
				> a.open {
					color:$goldlight;
					&:after {
						content:"-";
					}
				}
			}
			> li {
					text-transform: uppercase;
					font-weight: 800;
					font-size: 14px;
					letter-spacing: 0.2em;
					margin-bottom: 57px;
					&:last-of-type {
						margin-bottom:0;
					}
					> a {
						
					}
			}
		}
		ul.sub-menu {
			display: none;
			margin: 28px 0 0;
			> li.current-menu-item {
				 a {
					 color:$goldlight;
				 }
			}
			> li {
					text-transform: none;
					font-weight: 500;
					font-size:16px;
					letter-spacing: 0.05em;
					margin-bottom: 35px;
					&:last-of-type {
						margin-bottom:0;
					}
			}
		}
	}
}

.content_wrapper {
	padding:0 0 0 5.5%;
	max-width:1075px;
}




.internal_header {
	text-align: center;
	h1 {
		color:$blue;
		font-size: 90px;
		font-family: $prata;
		text-transform: uppercase;
		line-height: 110px;
		letter-spacing: 0.25em;
	}
	.header_meta {
		display: flex;
		justify-content: center;
		margin-top:28px;
		span {
			text-transform: uppercase;
			font-size:24px;
			letter-spacing: 0.35em;
			font-family: $poppins;
			font-weight: 800;
			color:$bluedark;
			&:after {
				content:"+";
				margin:0 17px;
				color:$gold;
			}
			&:last-of-type {
				&:after {
					display: none;
				}
			}
		}
	}
}



body.page-template-template-meetteam {
	.internal_header {
		h1 {
			text-transform: capitalize;
			letter-spacing: 0;
		}
	}
}


@media screen and (max-width: 1310px) {
	
	
	
	.sidebar_wrapper {
		flex-basis: 400px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1220px) {
	
	
	
	.two_col {
		flex-direction: column;
	}
	
	.content_wrapper {
		order:1;
		padding-left:0;
		flex-basis:auto;
	}
	
	.sidebar_wrapper {
		order:2;
		margin:40px 0 0;
		flex-basis:auto;
		.sidebar_border {
			padding-bottom:60px;
		}
	}
	
	
} /* Media Query */

@media screen and (max-width: 1066px) {
	
	.internal_banner {
		display: none;
	}
	
	
	#interna_main {
		
	}
	
	
	
	.container {
		padding-left:60px;
		padding-right:60px;
	}
	
	
	.two_col {
		margin: 181px auto 90px;
		padding:79px 60px 0;
	}
	
	
	.one_col {
		margin: 181px 0 90px;
		padding:90px 60px 0;
	}
	
	
	.no_banner_col {
		margin: 181px auto 125px;
		padding-top: 81px;
	}
	
	
	.internal_header {
		h1 {
			font-size:65px;
			line-height: 81px;
			letter-spacing: 0.15em;
		}
		.header_meta {
			margin-top: 14px;
			span {
				font-size: 20px;
			}
		}
	}
	

	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.internal_header {
		h1 {
			font-size:52px;
			line-height: 64px;
			letter-spacing: 0.1em;
		}
		.header_meta {
			margin-top: 20px;
			span {
				font-size: 13px;
				letter-spacing: 0.24em;
				&:after {
					margin: 0 7px;
					
				}
			}
		}
	}
	
	
	.container {
		padding-left:32px;
		padding-right:32px;
	}
	
	
	.two_col {
		margin: 181px auto 67px;
		padding-top:55px;
	}
	
	.one_col {
		margin: 181px 0 67px;
		padding-top:75px;
	}
	
	
	.no_banner_col {
		margin: 181px auto 80px;
		padding-top: 50px;
	}
	
	
	.sidebar_wrapper {
		margin: 25px 0 0;
		.sidebar_border {
			padding-left:30px;
			padding-right:30px;
		}
	}
	
	
} /* Media Query */