body.page-template-template-caseresults {
	.internal_header {
		margin: 90px 0 0;
		padding:118px 0 0;
		.header_meta {
			margin-top: 20px;
		}
	}
	.two_col {
    max-width: 1705px;
  }
  .content_wrapper {
   flex-grow: 1;
   padding-right:40px;
   min-height: 60px;
	}
}




.case_results_tabs {
	ul {
		list-style: none;
		margin:0;
		li {
			font-family: $poppins;
			cursor: pointer;
		}
	}
}



ul.top_level {
	li.top_level_tab {
		span.top_level_tab_title.active {
			background:$blue;
			> span {
					background-image:linear-gradient(41deg, #fff 1%,#fff 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					&:after {
						content:"-";
						background-image:linear-gradient(41deg, #fff 1%,#fff 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					}
			}
		}
		span.top_level_tab_title {
			background: $bluedark;
			display: block;
			padding:30px 60px 30px 40px;
			position: relative;
			width:100%;
			margin-bottom: 21px;
			transition: all 200ms ease-in-out;
			> span {
					font-weight: 800;
					font-size:14px;
					letter-spacing: 0.2em;
					text-transform: uppercase;
					display: inline-block;
					line-height: 18px;
					@include mytextgradient;
					&:after {
						content:"+";
						position: absolute;
						top:30px;
						right:28px;
						font-size: 20px;
						font-weight: 700;
						@include mytextgradient;
					}
				}
		}
		ul.second_level {
			display: none; //
			li.secondary_tab {
				span.tab_title.active {
					> span {
							color:$blue;
							&:after {
								content:"-";
							}
					}
				}
				span.tab_title {
					display: block;
					background: #f6f4f5;
					padding:16px 60px 16px 40px;
					position: relative;
					width:100%;
					margin-bottom: 21px;
					> span {
							font-family: $poppins;
							font-size:24px;
							line-height: 28px;
							color:$bluedark;
							strong {
								font-weight: 700;
							}
							&:after {
								content:"+";
								position: absolute;
								top:17px;
								right:28px;
								font-size: 20px;
								font-weight: 700;
								color:$blue;
							}
					}
				}
				.tab_title_content {
					font-weight: 500;
					padding:30px 0 25px 45px;
					display: none; //
					span.tab_amount {
						display: block;
						font-size:66px;
						font-family: $prata;
						padding:35px 0 25px;
						@include mytextgradient;
					}
				}
				
			}
		}
	}
}


.sidebar_wrapper.case_results {
	ul.menu {
		li.active {
			color:$gold;
		}
		li {
			color:#fff;
			transition: all 200ms ease-in-out;
			cursor: pointer;
			&:hover {
				color:$gold;
			}
		}
	}
}


@media screen and (min-width: 1220px) {
	
	
	
	
ul.top_level {
	li.top_level_tab {
		span.top_level_tab_title.active {
			
			> span {
					
					&:after {
						
					}
			}
		}
		span.top_level_tab_title {
			display: none;
			> span {
					
					&:after {
						
					}
				}
		}
		ul.second_level {
			display: block;
			li.secondary_tab {
				span.tab_title.active {
					> span {
							
							&:after {
								
							}
					}
				}
				span.tab_title {
					margin-bottom: 35px;
					padding: 15px 60px 15px 40px;
					> span {
							
							strong {
								
							}
							&:after {
								
							}
					}
				}
				.tab_title_content {
					padding: 0px 0 17px 45px;
					span.tab_amount {
						
					}
				}
				
			}
		}
	}
}

	
	
	
	
} /* Media Query */