
.about_page_wrapper {
	display: flex;
	max-width:1500px;
	margin:0 auto;
	padding:8px 0;
}


.about_left {
	flex-shrink:0;
	flex-basis:772px;
	.image_caption_wrapper {
		position: relative;
		img {
			max-width:100%;
			height:auto;
			display: block;
		}
		.image_caption {
			position: absolute;
			bottom:65px;
			right:0;
			text-align: right;
			width: 281px;
			span {
				line-height: 49px;
				background: $blue;
				text-transform: uppercase;
				color:#fff;
				font-family: $poppins;
				font-weight:700;
				letter-spacing: 0.05em;
				padding: 8px 22px;
				font-size:18px;
				display: inline;
			}
		}
	}
}


.about_right {
	padding:0 0px 0 30px;
	h1 {
		color:$blue;
		font-size:90px;
		font-family: $prata;
		margin-bottom:45px;
	}
}



.about_blockquote {
	max-width:1415px;
	margin:0 auto;
	width:100%;
	border:1px solid $gold;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin:227px auto 0;
	padding:0px 45px 115px;
	img {
		margin:-90px 0 0;
		width:247px;
	}
	.about_blockquote_content {
		text-align: center;
		max-width:880px;
		margin:0 auto;
		font-family: $prata;
		font-size:28px;
		line-height: 50px;
		color:$blue;
		padding-top:20px;
	}
}


.about_bottom {
	max-width:1420px;
	margin:160px auto 0;
	column-count:2;
	column-gap:138px;
	h2, p, ul {
		display: inline-block;
		width:100%;
	}
}


.about_awards_title_wrapper {
	margin-bottom: 89px;
}


.about_slider_wrapper {
	max-width:1445px;
	margin: 127px auto 0;
	padding-bottom:35px;
	.att_awards_slideshow {
		 max-width: 1300px;
	}
}


.about_page_slideshow {
	max-width: 1250px;
}


@media screen and (max-width: 1575px) {
	
	
	.about_slider_wrapper {
		.att_awards_slideshow {
			max-width: 1240px;
		}
	}

	
	
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
	
	.about_left {
    flex-basis: 631px;
    .image_caption_wrapper {
	    img {
		    max-width: 580px;
		    width:100%;
	    }
    }
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1320px) {
	
	
	.about_left {
     flex-basis: 501px;
    .image_caption_wrapper {
	    img {
		    max-width: 450px;
	    }
    }
	}
	
	
} /* Media Query */


@media screen and (max-width: 1205px) {
	
	
	.about_page_slideshow {
		 max-width: 1200px;
	}
	   
	
	
	
} /* Media Query */


@media screen and (max-width: 1175px) {
	
	
	
	.about_bottom {
		column-gap: 88px;
		margin: 111px auto 0;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.about_page_wrapper {
		flex-direction: column;
	}
	
	.about_left {
		order:2;
		flex-basis: auto;
		max-width:650px;
		margin:45px auto 0;
		.image_caption_wrapper {
			padding-right:35px;
	    img {
		    max-width: 580px;
	    }
    }
	}
	
	
	
	.about_right {
		order:1;
		padding-left:0;
		h1 {
			font-size: 65px;
			line-height: 81px;
			margin-bottom: 18px;
		}
	}
	
	
	
	.about_blockquote {
		margin: 195px auto 0;
		padding: 0px 45px 83px;
	}
	
	
	.about_bottom {
		column-count:1;
		margin: 83px auto 0;
	}
	
	
	.about_slider_wrapper {
		margin: 82px auto 0;
	}
	    
	    
	.att_awards_slideshow_wrapper {
		max-width:800px;
		margin-left:auto;
		margin-right:auto;
	}
	
} /* Media Query */



@media screen and (max-width: 895px) {
	
	
	.about_page_slideshow {
    max-width: 360px;
	}
	
	
	.att_awards_slideshow_wrapper {
		max-width: 540px;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	
	.about_left {
		.image_caption_wrapper {
			padding-right:20px;
			.image_caption {
				bottom: 38px;
			}
	    img {
		    max-width: 580px;
	    }
    }
	}
	
	
	.about_blockquote {
		margin: 185px auto 0;
		padding: 0px 45px 66px;
		.about_blockquote_content {
			font-size: 24px;
			line-height: 38px;
		}
		img {
			width: 197px;
			margin: -59px 0 0;
		}
	}
	
	
	
	.about_right {
		h1 {
			font-size: 52px;
			line-height: 64px;
		}
	}
	
	body.page-template-template-about {
		.att_awards_slideshow_wrapper {
			max-width: 445px;
		}
	}
	
	.about_awards_title_wrapper {
    margin-bottom: 49px;
	}
	
	.about_page_slideshow {
		max-width: 290px;
	}
	
	
	.about_slider_wrapper {
    margin: 44px auto 0;
   }
	    
	
	  
	
} /* Media Query */


@media screen and (max-width: 450px) {
	
	
	
	body.page-template-template-about {
		.att_single_slide {
			img {
				//width:100%;
				max-height:150px;
			}
		}
	}
	
	
	.about_page_slideshow {
		height: 150px;
	}
	
	    
	
	
	
	
	
} /* Media Query */
   