#section_two {
	width:100%;
	height:812px;
	padding-left:85px;
	padding-right:85px;
	.slick-slide {
    margin: 0 30px;
  }
  .slick-list {
    margin: 0 -30px;
  }
}

.sec_two_inner {
	max-width:1744px;
	margin:0 auto;
	padding:65px 0;
}


.sec_two_slidehow {
	.slick-dots {
		text-align: left;
		position: static;
		li.slick-active {
			button {
				&:before {
					
				}
			}
		}
		li:hover {
			button {
				&:before {
					
				}
			}
		}
		li.slick-active {
			a {
				color:$gold;
			}
		}
		li {
			margin:0;
			width:auto;
			height:auto;
			margin-right:15px;
			a {
				color:$bluedark;
				font-size:30px;
				font-family: $poppins;
				font-size: 16px;
				letter-spacing: 0.1em;
				padding:0;
				width:auto;
				font-weight: 700;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$gold;
				}
			}
		}
	}
}

.mywrap {
	display: flex;
	align-items: center;
	margin:46px 0 0;
	.slick-dots {
		width:auto;
		flex-shrink: 0;
	}
	span.slick_line {
		display: block;
		flex-grow:1;
		width:100%;
		height:1px;
		background: $bluedark;
	}
}

span.disclaimer {
	display: block;
	text-align: right;
	text-transform: uppercase;
	font-size:12px;
	letter-spacing: 0.17em;
	font-family: $poppins;
	font-weight: 700;
	margin-top:34px;
}


.sec_two_single_slide {
	height:521px;
	background:#fff;
	box-shadow: 0px 8px 21px 0px rgba(0, 39, 28, 0.22);
	padding:15px;
	position: relative;
	text-align: center;
	margin:30px 0;
	&:hover {
		.sec_two_hover {
			opacity: 1;
			visibility: visible;
		}
	}
	.sec_two_single_inner {
		width:100%;
		height:100%;
		background:$goldgreadient;
		padding:1px;
		.sec_two_border {
			width:100%;
			height:100%;
			background: #fff;
			padding:65px 10px 0;
			img, span {
				display: block;
			}
			img {
				margin-left:auto;
				margin-right:auto;
				width:213px;
				height:196px;
			}
			span.amount {
				font-family: $prata;
				color:$blue;
				font-size:66px;
				letter-spacing: 0.06em;
				margin-top:35px;
			}
			span.type {
				font-family: $poppins;
				font-size:17px;
				color:$bluedark;
				font-weight: 500;
				margin-top:29px;
			}
		}
	}
}


.sec_two_hover {
	width:100%;
	height:100%;
	background: $bluedark;
	position: absolute;
	top:0;
	left:0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:25px;
	opacity: 0;
	visibility: hidden;
	transition: all 400ms ease-in-out;
}

.sec_two_hover_inner {
	max-width:270px;
	margin-top:20px;
	span.sec_two_content {
		color:#fff;
		font-family: $poppins;
		line-height: 30px;
		font-size:16px;
		display: block;
	}
	a.view_all {
		border:1px solid $goldlight;
		font-size:14px;
		letter-spacing: 0.3em;
		text-transform: uppercase;
		font-family: $poppins;
		text-decoration: none;
		font-weight: 700;
		color:$goldlight;
		padding:23px 30px;
		display: inline-block;
		margin-top:40px;
	}
}


@media screen and (max-width: 1795px) {
	
	
	
#section_two {
	.slick-slide {
    //margin: 0 25px;
  }
  .slick-list {
   //margin: 0 -25px;
  }
}
	
	
} /* Media Query */


@media screen and (max-width: 1595px) {
	
	
	
	.sec_two_inner {
		padding: 62px 0;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
#section_two {
	.slick-slide {
    margin: 0 15px;
  }
  .slick-list {
   margin: 0 -15px;
  }
}
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	#section_two {
		height: 784px;
	}
	
	
	
	span.disclaimer {
		text-align: center;
		margin-top: 38px;
	}
	
	
	.sec_two_inner {
    padding: 65px 0;
	}
	
	
	.sec_two_single_slide {
		&:hover {
			.sec_two_hover {
				opacity: 0;
				visibility: hidden;
			}
		}
	}


	.sec_two_single_slide.open {
		.sec_two_hover {
			opacity: 1;
			visibility: visible;
		}
	}
	
	
	.sec_two_slideshow_wrapper {
		max-width:625px;
		margin-left:auto;
		margin-right:auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	
	.sec_two_slidehow {
		max-width:390px;
	}
	
	
	
.sec_two_button {
	flex-basis:29px;
	height:49px;
	flex-shrink:0;
	position: relative;
	cursor: pointer;
	margin-top:37px;
	&:hover {
		&:before, &:after {
			background:$gold;
		}
	}
	&:before, &:after {
		content:"";
		display: block;
		width:34px;
		height:3px;
		background:$bluedark;
		position: absolute;
		top:24px;
		left:3px;
		transform-origin: 0px 0px 0px;
		transition: all 200ms ease-in-out;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}
}

.sec_two_button_right {
	transform: rotate(-180deg);
}

	

	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	#section_two {
    height: 771px;
    padding-left:32px;
    padding-right:32px;
	}
	
	.sec_two_inner {
    padding: 24px 0;
	}
	
	.sec_two_single_slide {
    height: 500px;
  }
  
  .sec_two_slideshow_wrapper {
	  flex-wrap:wrap;
	  width:100%;
	  justify-content: center;
  }
  
  .sec_two_slidehow {
	  order:1;
	  width:100%;
	  max-width:100%;
  }
  
  .sec_two_button_left {
	  order:2;
  }
  
  .sec_two_button_right {
	  order:3;
	  position: relative;
	  top:2px;
	  border-right:2px solid $blue;
	  
  }
  
  .sec_two_button {
	  margin-top: 16px;
	  //background:red;
	  flex-basis: 58px;
	  height: 48px;
	  &:before, &:after {
		  width: 25px;
	  }
  }
  
  
  span.disclaimer {
	 margin: 45px auto 0;
	 max-width: 265px;
	 line-height: 20px;
  }
  
  .sec_two_single_slide {
	  .sec_two_single_inner {
		   .sec_two_border {
			   padding: 56px 10px 0;
			   span.amount {
				   margin-top: 30px;
			   }
		   }
	  }
  }
  
  
      
	
	
} /* Media Query */




@media screen and (max-width: 375px) {
	
	
	.sec_two_single_slide {
		.sec_two_single_inner {
			.sec_two_border {
				span.amount {
					font-size: 54px;
   			}
			}
		}
	} 
	
	
} /* Media Query */