#section_five {
	margin: 164px 0 114px;
	overflow: hidden;
}

a.mobile_pa_button {
	display: none;
}


.sec_five_inner {
	
}


.sec_five_header {
	text-align: center;
	span {
		display: block;
	}
	span.top, span.bottom {
		font-family: $poppins;
		font-weight:700;
		font-size:36px;
		letter-spacing: 0.8em;
		color:$bluedark;
		text-transform: uppercase;
	}
	span.top {
		margin-bottom:48px;
	}
	span.middle {
		font-family: $prata;
		font-size:138px;
		letter-spacing: 0.36em;
		text-transform: uppercase;
		color:$blue;
		margin-bottom:20px;
	}
	span.bottom {
		
	}
}


.sec_five_content {
	max-width:975px;
	margin:100px auto 0;
}


.sec_five_image_wrapper {
	display: flex;
	margin:150px 0 0;
}

.sec_five_image_one {
	margin-right:27px;
	img {
		display: block;
	}
}

.sec_five_image_two {
	img {
		display: block;
	}
}


.sec_five_image_cap {
	.est_wrapper {
		margin-top:80px;
		margin-left:60px;
		span {
			display: block;
			font-family: $prata;
			color:$bluedark;
		}
		span.est {
			font-size:54px;
			margin-bottom:25px;
		}
		span.year {
			font-size:160px;
		}
	}
}




.sec_five_blue_cap {
	width:399px;
	margin-top:27px;
	margin-left:-53px;
	line-height: 47px;
	span {
		background: $blue;
		text-transform: uppercase;
		color:#fff;
		font-family: $poppins;
		font-weight:700;
		letter-spacing: 0.05em;
		padding: 8px 27px;
		font-size:18px;
		box-decoration-break: clone;
 // -webkit-box-decoration-break: clone;
	}
}


.sec_five_content.bottom {
	margin: 138px auto 0;
}


@media screen and (max-width: 1675px) {
	
	
	
	.sec_five_image_wrapper {
		margin-left:-100px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1575px) {
	
	
	.sec_five_image_wrapper {
		margin-left:-197px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	#section_five {
		margin: 199px 0 90px;
	}
	
	.sec_five_image_wrapper {
		margin-top: 140px;
	}
	
	
	.sec_five_image_one, .sec_five_image_two {
		img {
			height:544px;
		}
	}
	
	.sec_five_image_one {
		margin-right: 23px;
	}
	
	
	.sec_five_image_cap {
		.est_wrapper {
    	margin-top: 33px;
   	}
	}
	
	.sec_five_content.bottom {
		margin: 120px auto 0;
	}
	
	    
	
	
} /* Media Query */


@media screen and (max-width: 1375px) {
	
	
	.sec_five_image_wrapper {
    margin-left: -237px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1330px) {
	
	
	.sec_five_image_wrapper {
    margin-left: -255px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1310px) {
	
	.sec_five_image_wrapper {
    margin-left: -310px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1270px) {
	
	
	#section_five {
		margin: 127px 0 90px;
	
	}
	
	.sec_five_header {
		span.top, span.bottom {
			font-size:23px;
			letter-spacing: 0.8em;
		}
		span.top {
			margin-bottom: 36px;
		}
		span.middle {
			font-size:90px;
			letter-spacing: 0.36em;
			margin-bottom: 25px;
		}
	}
	
	
	.sec_five_content {
    margin: 80px auto 0;
    padding-left:60px;
		padding-right:60px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1260px) {
	
	
	.sec_five_image_wrapper {
    margin-left: -360px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1200px) {
	
	.sec_five_image_wrapper {
    margin-left: -390px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1175px) {
	
	
	.sec_five_image_one {
		margin-right:0;
	}
	
	.sec_five_image_two {
		display: none;
	}	
	
	
	.sec_five_image_cap {
		.est_wrapper {
			 margin-left: 31px;
			 margin-top: 46px;
		}
	}
	
	
	   
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	#section_five {
		margin: 127px 0 57px;
	}
	
	.sec_five_image_wrapper {
    margin-top: 94px;
	}
	
	.sec_five_content.bottom {
		 margin: 74px auto 0;
	}
	
	   
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	#section_five {
    margin: 87px 0 34px;
	}
	
	.sec_five_content {
		padding-left:32px;
		padding-right:32px;
	}
	
	
	.sec_five_header {
		span.top, span.bottom {
			font-size:20px;
			letter-spacing: 0.8em;
		}
		span.top {
			margin-bottom: 32px;
		}
		span.middle {
			font-size:58px;
			letter-spacing: 0.150em;
			margin-bottom: 20px;
		}
	}
	
	
	
	.sec_five_image_one {
		display: none;
	}
	
	.sec_five_image_wrapper {
		margin-left:0;
		margin-top:0;
		padding-left:32px;
		padding-right:32px;
	}
	
	.sec_five_blue_cap {
		margin-left:0;
	}
	
	.sec_five_image_cap {
		.est_wrapper {
			 margin-left: 0px;
			 margin-top: 34px;
		}
	}
	
	
	a.mobile_pa_button {
		display: block;
		width:100%;
		text-align: center;
		margin:44px auto 0;
		padding: 27px 10px;
		letter-spacing: 0.2em;
		margin-bottom:40px;
		max-width:345px;
	}
	
	.sec_five_content.top {
		 margin: 41px auto 0;
	}
	
	
	.sec_five_blue_cap {
		margin-top: 13px;
		span {
			padding-left:18px;
			padding-right:18px;
		}
	}
	
	.sec_five_content.bottom {
    margin: 39px auto 0;
	}
	
	   
	
	
} /* Media Query */


@media screen and (max-width: 470px) {
	
	.sec_five_blue_cap {
		width:340px;
	}
	
	
} /* Media Query */

