#section_one {
	width:100%;
	height:830px;
	position: relative;
}


img.hero {
	display: block;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	object-fit:cover;
	object-position:50% 0;
}


.sec_one_inner {
	position: relative;
	z-index:1;
	text-align: center;
	padding:205px 0 0;
	.large_header {
		color:#fff;
		font-size:115px;
		line-height: 180px;
		font-family: $prata;
		span {
			display: block;
		}
	}
	.small_header {
		display: flex;
		justify-content: center;
		margin:-188px 0 0;
		.small_header_single {
			color:$goldlight;
			text-transform: uppercase;
			font-size:16px;
			letter-spacing: 0.3em;
			font-family: $poppins;
			font-weight:700;
			span {
				
			}
		}
	}
}